*{
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body{
	margin: 0;
	padding-top: 6.5em;
	
	background-color: skyblue;
}
.container{
	width: 350px;
	background-color: white;
	border-radius: 5px;
	padding-top: 20px;
	text-align: center;
}
.container input{
	width: 90%;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #777777;
	margin-bottom: 20px;
	font-size: 16px;
	outline: none;
}
.btn{
	border: none !important;
	cursor: pointer;
	background-color: #32cd9c;
	margin: 15px 0;
	font-size: 16px;
	width: 90%;
	padding: 14px;
}
.btn:hover{
	background-color: #1f7d5f;
	color: white;
}
.contact-info-upper-container {
    display: flex;
    justify-content: center;

    border-color: rgb(163, 163, 163);
    background: (250, 250, 250); 
    margin: 2rem auto;
    padding: 0.1rem;
}